{%- extends "base.html" %}

{% block content %}

<form method="post">

<label> Enter your address </label>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Street</span>
  <input name="Street" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">City</span>
  <input name="City" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">State</span>
  <input name="State" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Zip</span>
  <input name="Zip" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="mb-3 form-check">
    <input name="SetPrimary" type="checkbox" class="form-check-input" >
    <label class="form-check-label" for="exampleCheck1">Set this as your primary address</label>
  </div>

  <!-- todo: this endpoint will not work currently  -->
	<button type="submit" class="btn btn-success" >Submit</button>
</label>

</form>
{%- endblock %}


