{%- extends "base.html" %}

{% block content %}

<p class="h2"> Hi {{ name }}! </p>
<br>

<p class="h4"> Actions: </p>
<button type="button" class="btn btn-success" onclick="window.location.href='/add_address';">Add new address</button>
<br><br>

<p class="h4"> Primary Address: </p>
<p> <mark> {{ primary_address }} </mark> </p>
<br>

<p class="h4"> Currently Active Addresses: </p>
<ul>
	{% for id, address in active_id_and_addresses.items() %}
	<li> {{ address }} 
	<form method="post">
		<input type="hidden" name="address_id" value="{{ id }}">
		<button type="submit" formaction="/removeAddress" class="btn btn-outline-danger btn-sm">Delete</button>
		<button type="submit" formaction="/changePrimaryAddress" class="btn btn-outline-success btn-sm">Make Primary</button>
		<button type="submit" formaction="/addAccess" class="btn btn-outline-success btn-sm">Add Access</button>
		<button type="submit" formaction="/revokeAccess" class="btn btn-outline-warning btn-sm">Revoke Access</button>
	</form>
	</li>
	<br>
	{% endfor %}
</ul>

<p class="h4"> Previous/Inactive Addresses: </p>
<ul>
	{% for id, address in inactive_id_and_addresses.items() %}
	<li> {{ address }}
	<form action="/reviveAddress" method="post">
			<input type="hidden" name="revive_address_id" value="{{ id }}">
			<button type="submit" class="btn btn-outline-success btn-sm">Revive</button>
	</form>
	</li>
	<br>
	{% endfor %}
</ul>

{%- endblock %}

