{%- extends "base.html" %}

{% block content %}

<h1 class="display-4"> Packages: </h1>

{% for package in undelivered_info %}
	<div class="alert alert-warning" role="alert">
		Status: {{ package["status"] }}
		<br>
		{{ package["status-description"] }}
		<br>
		From : {{ package["vendor"] }}
		<br>
		Tracking number: {{ package["tracking-number"] }}
	</div>
{% endfor %}

{% for package in delivered_info %}
	<div class="alert alert-success" role="alert">
		Status: {{ package["status"] }}
		<br>
		{{ package["status-description"] }}
		<br>
		From : {{ package["vendor"] }}
		<br>
		Tracking number: {{ package["tracking-number"] }}
	</div>
{% endfor %}



{%- endblock %}

