{%- extends "base.html" %}

{% block content %}
  <div class="jumbotron">
  <h1 class="display-4">Driven</h1>
  <p class="lead">Driven is one of a kind universal platform for your mailing needs</p>
  <hr class="my-4">
  <p>Join us, and track your packages</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" onclick="window.location.href='/signup';" role="button">Sign up</a>
    <a class="btn btn-primary btn-lg" onclick="window.location.href='/login';" role="button">Login</a>
  </p>
</div>
{%- endblock %}
