{%- extends "base.html" %}

{% block content %}

<h1 class="display-4"> {{ fname }} {{ lname }} </h1>

<form method="post">
	<input type="hidden" name="field" value="fname">
	<input type="hidden" name="value" value="{{ fname }}">
	<input type="hidden" name="placeholder" value="alice">
	<button type="submit" formaction="/changeProfileInfo" class="btn btn-link btn-sm">Change First Name</button>
</form>

<form method="post">
	<input type="hidden" name="field" value="lname">
	<input type="hidden" name="value" value="{{ lname }}">
	<input type="hidden" name="placeholder" value="shelby">
	<button type="submit" formaction="/changeProfileInfo" class="btn btn-link btn-sm">Change Last Name</button>
</form>

<div class="card">
  <div class="card-body">
	<form method="post">
		<p class="lead">
			<input type="hidden" name="field" value="username">
			<input type="hidden" name="value" value="{{ username }}">
			<input type="hidden" name="placeholder" value="alice">
			Username: {{ username }}
			<button type="submit" formaction="/changeProfileInfo" class="btn btn-link btn-sm">change</button>
		</p>
	</form>
  </div>

  <div class="card-body">
	<form method="post">
		<p class="lead">
			<input type="hidden" name="field" value="phone">
			<input type="hidden" name="value" value="{{ phone }}">
			<input type="hidden" name="placeholder" value="123456789">
			Phone number: {{ phone }}
			<button type="submit" formaction="/changeProfileInfo" class="btn btn-link btn-sm">change</button>
		</p>
	</form>
  </div>

  <div class="card-body">
	<form method="post">
		<p class="lead">
			<input type="hidden" name="field" value="email">
			<input type="hidden" name="value" value="{{ email }}">
			<input type="hidden" name="placeholder" value="alice@gmail.com">
			Email: {{ email }}
			<button type="submit" formaction="/changeProfileInfo" class="btn btn-link btn-sm">change</button>
		</p>
	</form>
  </div>

  <div class="card-body">
	<p class="lead">
	Primary address: {{ primary_address }}
	<button type="button" class="btn btn-link btn-sm" onclick="window.location.href='/address';">view all addresses</button>
	</p>
  </div>
</div>

<br>

<button type="button" class="btn btn-secondary">Change Password</button>

{%- endblock %}
