{%- extends "base.html" %}

{% block content %}

<p class="h2"> {{ name }} </p>
<br>

<p class="h4"> Actions: </p>
<button type="button" class="btn btn-success" onclick="window.location.href='/add_address';">Add new address</button>
<br>

<p class="h4"> Current address: </p>
<p> <mark> 8772 West Washington Ave, San Duperino, MT, 20221 </mark> </p>
<br>

<table class="table table-striped">
  <thead>
      {% if rows %}
      <tr>
        {% for name in rows[0].keys() %}
          <th>{{ name }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  </thead>
  <tbody>
      {% for row in rows %}
      <tr>
        {% for col in row.values() %}
          <td>{{ col }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>


{%- endblock %}
